<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pixabay</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/simplelightbox/2.1.0/simplelightbox.min.css"
      integrity="sha512-2Q+e33sJjKmwEzT09H+T7TJgO6hSkKLDxnCSt/AFs1s2W8jFAbrPZ//Lh25GgkNjK1zvwoTzfX9FLMUarjp6pQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="search">
      <form class="search-form" id="search-form">
        <input
          type="text"
          name="searchQuery"
          autocomplete="off"
          placeholder="Poszukej se łobrozka..."
        />
        <button type="submit">Szukej</button>
      </form>
    </div>
    <div class="gallery">
      <!-- Obraz karty -->
    </div>
    <button type="button" class="btn btn-load js-load-btn">Wiyncyj</button>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/simplelightbox/2.1.0/simple-lightbox.min.js"
      integrity="sha512-bKw0a0Lqbq3KeGKj+9OxGgZJP1anZMeA0E+LlKrhOeQ2iLkRG/R7DnBTgBEGSYBaDDHKL1tCkN+yoKjOVKcFtQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </body>
</html>
